body{
    display: grid;
    place-content: center;
    height: 90vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 28rem;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

textarea{
    resize: none;
    width: 18rem;
    margin-bottom: 1rem;
}

button{
    height: 3rem;
    width: 18rem;
    background-color: rgb(255, 159, 70);
}

button:hover{
    cursor: pointer;
}